<% content_for :title do %>Jenkins<% end %>

<div class="gridster">

  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" 
           data-view="Text" 
           data-title="Stable?" 
           data-text="This dashboard shows Jenkins build states." 
           data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

</div>