<% content_for :title do %>Jenkins<% end %>

<div class="gridster">

  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="caythe" 
            data-view="JenkinsBuild" 
            data-title="CI" 
            data-description="Cay-The" 
            data-min="0" 
            data-max="100"
            data-suffix="%"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="commons" 
            data-view="JenkinsBuild" 
            data-title="CI" 
            data-description="Commons" 
            data-min="0" 
            data-max="100"
            data-suffix="%"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="dht" 
            data-view="JenkinsBuild" 
            data-title="CI" 
            data-description="DHT" 
            data-min="0" 
            data-max="100"
            data-suffix="%"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="groundzero" 
            data-view="JenkinsBuild" 
            data-title="CI" 
            data-description="GroundZero" 
            data-min="0" 
            data-max="100"
            data-suffix="%"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="jvfs" 
            data-view="JenkinsBuild" 
            data-title="CI" 
            data-description="jvfs" 
            data-min="0" 
            data-max="100"
            data-suffix="%"></div>
    </li>
    
</div>