<!-- 1080p dashboard -->
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Jenkins<% end %>

<div class="gridster">
    
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="caythe" 
            data-view="JenkinsBuild" 
            data-title="1" 
            data-description="Cay-The" 
            data-min="0" 
            data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="commons" 
            data-view="JenkinsBuild" 
            data-title="2" 
            data-description="Commons" 
            data-min="0" 
            data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="dht" 
            data-view="JenkinsBuild" 
            data-title="3" 
            data-description="DHT" 
            data-min="0" 
            data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="groundzero" 
            data-view="JenkinsBuild" 
            data-title="4" 
            data-description="GroundZero" 
            data-min="0" 
            data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="jvfs" 
            data-view="JenkinsBuild" 
            data-title="5" 
            data-description="jvfs" 
            data-min="0" 
            data-max="100"></div>
    </li>
    
  </ul>

</div>